@charset "UTF-8";
/* CSS Document */




body {
  margin: 0px 0px 50px 0px; /* outside */
  padding: 0px 0px 0px 0px; /* inside */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-size: 100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  text-align: center;
  display: inline-block;
    background-color:#f2f2f2;

}
    
#wrapper {
  padding: 0px;
  margin: 0px; /* outside */
  text-align: center;
  border: 0px solid red;
  display: inline-block;
  z-index:auto 100;
  top: 0;
  left: 0;
  border: 1px solid blue;

}

#bubblewrap {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 100px 0px;
  top: 0;
  left: 0;
}

/* Title Block CSS  =================================================================*/


/*.thumbnail{
  visibility:hidden!IMPORTANT;
  width: 0px;
  height: 0px;
}
*/


.titleblock { 
  position: relative;
  top:15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
}

.titleblock img { 
  width: 25%; height: auto;
  z-index: 90;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

#instructions { 
  position: relative;
  top:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
}

#instructions p { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 1em;
    letter-spacing: 0.05em;

    animation:signup-response 1.5s 1;
    -webkit-animation:signup-response 1.5s 1;
    animation-fill-mode: forwards;

    animation-delay:5s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    } 

    @keyframes signup-response{
        from {opacity :1;}
        to {opacity :0;}
    }

    @-webkit-keyframes signup-response{
        from {opacity :1;}
        to {opacity :0;}
    }
}



/* iPhone 5 landscape */
@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .titleblock { top: 10%; }
  .titleblock img { width: 20%;}
  #instructions p { font-size: 0.5em; }
}

/* iPhone 5 portrait */
@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .titleblock { top: 20%; }
  .titleblock img { width: 60%;}
  #instructions { top: 5%; }
  #instructions p { font-size: 0.67em; }
}

/* iPhone 6 landscape */
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .titleblock { top: 8%; }
  .titleblock img { width: 30%;}
  #instructions { top: 3%; }
  #instructions p { font-size: 0.8em; }
}

/* iPhone 6 portrait */
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .titleblock { top: 20%; }
  .titleblock img { width: 60%;}
  #instructions p { font-size: 0.75em; }
}

/* iPhone 6 Plus landscape */
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
  .titleblock { top: 8%; }
  .titleblock img { width: 30%;}
  #instructions { top: 3%; }
  #instructions p { font-size: 0.67em; }
}

/* iPhone 6 Plus portrait */
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .titleblock { top: 20%; }
  .titleblock img { width: 60%;}
  #instructions p { font-size: 0.67em; }
}

/* iPad Mini landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .titleblock { top: 10%; }
  .titleblock img { width: 40%;}
  #instructions { top: 5%; }
  #instructions p { font-size: 0.75em; }
}

/* iPad Mini portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .titleblock { top: 20%; }
  .titleblock img { width: 50%; }
  #instructions { top: 5%; }
  #instructions p { font-size: 0.75em; }
}


/* Credit page  =================================================================*/

#CreditLogo { 
  position: relative;
  top:2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
}

#CreditLogo img { 
  width: 200px; height: auto;
  z-index: 90;
}

#Credits { 
  position: relative;
  top:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

#Credits p{
  margin-bottom: 10px;
}





/* Footer  =================================================================*/

#social {
  position:fixed;
  height:65px;
  bottom: 40px;
  text-align: center;
  padding-left: 10px;
  width:100%;
  z-index: 110;
  background:#f2f2f2;
}

#counter {
  position:fixed;
  height:22px;
  bottom: 40px;
  left:0%;
  width:100%;
  text-align: center;  
  z-index: 120;
}


#footer {
  position:fixed;
  height:40px;
  background-color: #FFFFFF;
  bottom: 0px;
  left:0px;
  right:0px;
  text-align: center;
  margin: 0px; /* outside */
  padding: 0px; /* inside */
}

#footer p{
  font-size: 0.8em;  /* 16x4 = 80 */
  line-height: 1.0em;
  padding-top:10px;
}

.counter{
  padding-right: 5px;
}




/* Typestyles CSS  =================================================================*/

h1 { 
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 10em;  /* 16x4 = 80 */
  letter-spacing: -0.01em;
  line-height: 1.7em;
  top: 0px;
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 300;
  line-height: 0.95em;
}
h2 { 
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.8em;  /* 16x4 = 80 */
  letter-spacing: 0.04em;
  line-height: 1.7em;
  top: 0px;
  margin: 10px 0px 4px 0px;
  padding: 10px 0px 0px 0px;
  font-weight: 300;
  line-height: 0.95em;
  color: #666;
}


p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8em;  /* 16x4 = 80 */
  letter-spacing: 0.1em;
  line-height: 1.7em;
  top: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  display:inline-block;
  color: #666;
}


.red{
  color:#FF0004;  
}

.black{
  color:#000; 
}

.statcounter {
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 4px -20px;
  color:#000;
  
}


a:link {
  color: #666;
  text-decoration: none;
}
a:visited {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #e67800; /* orange */
  text-decoration: none;
}
a:active {
  color: #e67800; /* orange */
  text-decoration: none;
}



/* Hide highlight and call out on handhelds =================================================*/
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}