@charset "UTF-8";
/* CSS Document */




/* FADING CSS  =================================================================*/

.fadeout {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fadeout:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#Laughs_2018{

}

.pop{
  position: absolute;
  /*min-width:20px;*/
  width:20px;
  /*min-height: 20px;*/
  height: 20px;
  border-radius:50%;
  background: #ddd;

  -o-transition: background 2s ease-out;
  -ms-transition: background 2s ease-out;
  -moz-transition: background 2s ease-out;
  -webkit-transition: background 2s ease-out;
  /* ...and now override with proper CSS property */
  transition: background 2s ease-out;
}
.pop:hover{
  background: #e67800; /* orange */

  -o-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -webkit-transition: background 0.5s ease-in;
  /* ...and now override with proper CSS property */
  transition: background 0.5s ease-in;
}

#LaughA01{ /* Center laugh */
  top:calc(40% - 10px);
  left:calc(50% - 10px);
}

/* Circle 01 */
#LaughA02{
  top:calc(40% - 40px);
  left:calc(50% - 10px);
}

#LaughA03{
  top:calc(40% - 25px);
  left:calc(50% + 15px);
}

#LaughA04{
  top:calc(40% + 5px);
  left:calc(50% + 15px);
}

#LaughA05{
  top:calc(40% + 20px);
  left:calc(50% - 10px);
}

#LaughA06{
  top:calc(40% + 5px);
  left:calc(50% - 35px);
}

#LaughA07{
  top:calc(40% - 25px);
  left:calc(50% - 35px);
}

/* Circle 2 */

#LaughA08{
  top:calc(40% - 70px);
  left:calc(50% - 10px);
}

#LaughB01{
  top:calc(40% - 55px);
  left:calc(50% + 15px);
}

#LaughB02{
  top:calc(40% - 40px);
  left:calc(50% + 40px);
}

#LaughB03{
  top:calc(40% - 10px);
  left:calc(50% + 40px);
}

#LaughB04{
  top:calc(40% + 20px);
  left:calc(50% + 40px);
}

#LaughB05{
  top:calc(40% + 35px);
  left:calc(50% + 15px);
}

#LaughB06{
  top:calc(40% + 50px);
  left:calc(50% - 10px);
}

#LaughB07{
  top:calc(40% + 35px);
  left:calc(50% - 35px);
}

#LaughB08{
  top:calc(40% + 20px);
  left:calc(50% - 60px);
}

#LaughB10{
  top:calc(40% - 10px);
  left:calc(50% - 60px);
}

#LaughC01{
  top:calc(40% - 40px);
  left:calc(50% - 60px);
}

#LaughC02{
  top:calc(40% - 55px);
  left:calc(50% - 35px);
}

/* OLD ================= */

