#Laughs {
    display: none;
}

#LaughA01, #LaughA02, #LaughA03, #LaughA04, #LaughA05, #LaughA06, #LaughA07, #LaughA08,
#LaughB01, #LaughB02, #LaughB03, #LaughB04, #LaughB05, #LaughB06, #LaughB07, #LaughB08, #LaughB09, #LaughB10, 
#LaughC01, #LaughC02, #LaughC03, #LaughC04, #LaughC05, #LaughC06, #LaughC07, #LaughC08,
#LaughD01, #LaughD02, #LaughD03, #LaughD04, #LaughD05, 
ALL{
  position: absolute;
  width: 20%;
  height: 20%;
  padding:0;
  margin:0;
  background-image:url(../images/bubble_blank.png); /*Need this for fade to work*/
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  z-index: 100;
}

#LaughA01{ top: 5%; left: 5%; }
#LaughA01:hover{ background-image:url(../images/bubble_A01.png); }
    
#LaughA02{ top: 5%; left: 15%; }
#LaughA02:hover{  background-image:url(../images/bubble_A02.png); }

#LaughA03{ top: 5%; left: 25%; }
#LaughA03:hover{ background-image:url(../images/bubble_A03.png); }

#LaughA04{ top: 5%; left: 35%; }
#LaughA04:hover{ background-image:url(../images/bubble_A04.png); }

#LaughA05{ top: 5%; left: 45%; }
#LaughA05:hover{ background-image:url(../images/bubble_A05.png); }

#LaughA06{ top: 5%; left: 55%; }
#LaughA06:hover{ background-image:url(../images/bubble_A06.png); }

#LaughA07{ top: 5%; left: 65%; }
#LaughA07:hover{ background-image:url(../images/bubble_A07.png); }

#LaughA08{ top: 5%; left: 75%; }
#LaughA08:hover{ background-image:url(../images/bubble_A08.png); }

/* B Laughs ==================================================================== */

#LaughB01{ top: 15%; left: 0%; }
#LaughB01:hover{ background-image:url(../images/bubble_B01.png); }

#LaughB02{ top: 15%; left: 10%; }
#LaughB02:hover{ background-image:url(../images/bubble_B02.png); }

#LaughB03{ top: 15%; left: 20%; }
#LaughB03:hover{ background-image:url(../images/bubble_B03.png); }

#LaughB04{ top: 15%; left: 30%; }
#LaughB04:hover{ background-image:url(../images/bubble_B04.png); }

#LaughB05{ top: 15%; left: 40%; }
#LaughB05:hover{ background-image:url(../images/bubble_B05.png); }
    
#LaughB06{ top: 15%; left: 50%; }
#LaughB06:hover{ background-image:url(../images/bubble_B06.png); }
    
#LaughB07{ top: 15%; left: 60%; }
#LaughB07:hover{ background-image:url(../images/bubble_B07.png); }
    
#LaughB08{ top: 15%; left: 70%; }
#LaughB08:hover{ background-image:url(../images/bubble_B08.png); }

/*#LaughB09{ top: 15%; left: 80%; }
#LaughB09:hover{ background-image:url(../images/bubble_B09.png); }*/

#LaughB10{ top: 15%; left: 80%; }
#LaughB10:hover{ background-image:url(../images/bubble_B10.png); }

/* C Laughs ==================================================================== */

#LaughC01{ top: 30%; left: 5%; }
#LaughC01:hover{ background-image:url(../images/bubble_C01.png); }

#LaughC02{ top: 30%; left: 15%; }
#LaughC02:hover{ background-image:url(../images/bubble_C02.png); }

#LaughC03{ top: 30%; left: 25%; }
#LaughC03:hover{ background-image:url(../images/bubble_C03.png); }

#LaughC04{ top: 30%; left: 35%; }
#LaughC04:hover{ background-image:url(../images/bubble_C04.png); }

#LaughC05{ top: 30%; left: 45%; }
#LaughC05:hover{ background-image:url(../images/bubble_C05.png); }

#LaughC06{ top: 30%; left: 55%; }
#LaughC06:hover{ background-image:url(../images/bubble_C06.png); }

#LaughC07{ top: 30%; left: 65%; }
#LaughC07:hover{ background-image:url(../images/bubble_C07.png); }

#LaughC08{ top: 30%; left: 75%; }
#LaughC08:hover{ background-image:url(../images/bubble_C08.png); }

/* D Laughs ==================================================================== */

#LaughD01{ top: 45%; left: 0%; }
#LaughD01:hover{ background-image:url(../images/bubble_D01.png); }

#LaughD02{ top: 45%; left: 10%; }
#LaughD02:hover{ background-image:url(../images/bubble_D02.png); }

#LaughD03{ top: 45%; left: 20%; }
#LaughD03:hover{ background-image:url(../images/bubble_D03.png); }

#LaughD04{ top: 45%; left: 30%; }
#LaughD04:hover{ background-image:url(../images/bubble_D04.png); }

#LaughD05{ top: 45%; left: 40%; }
#LaughD05:hover{ background-image:url(../images/bubble_D05.png); }


